// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Open Sans', sans-serif;

html{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: $text_light;
}

h2{
    color: $text_dark;
    font-family: 'Noto Sans JP', sans-serif;
}