//* Global
html {
    text-align: center;
    line-height: 1.5;
    font-size: 100%;
    background: $bg_main;
}

.wrapper {
    max-width: 1080px;
    width: 85%;
    margin: 0 auto;
    font-size: 1rem;
    // background: var(--section_bg);
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $section-bg;
    color: $text-light;
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

//* Variables

$bg-main:  #c2dbc7;
$text-light: #d1d1d1;
$section-bg: #050a05;
$text-med: #8a8989;
$text-dark:#252323;
$primary: #285837;
$secondary:  #ecdacb;
$tertiary:  #bba07f;

