main{
    display: flex;
    .quickRoll{
        width: calc(40% - 40px);
        margin:20px;
        border: 4px solid var(--primary);
        border-radius: 15px;
        #buttons{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            button{
                background: var(--primary);
                border: none;
                cursor: pointer;
                padding: 5px;
                margin: 5px;
                border-radius: 15px;
                // box-shadow: 5px 5px var(--secondary);
            }
            button:hover{
                background: var(--section_bg);
                color: var(--text_light);
                // box-shadow: 10px 8px var(--secondary);
            }
            #d100{
                display: inline-block;
            }
            
        }
    }
    .multiRoll{
        width: calc(60% - 40px);
        margin: 20px;
        .radioDice{
            // display: grid;
            // grid-template-columns: 50% 50%;
        }
    }
}

#modifier{
    background: var(--secondary);
    outline: none;
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
}

.insertRollContainer{
    li{
        list-style: none;
    }
}